body {
    margin:0;
    color: #ffffff;
    font-family: Arial;
    font-size: 8px;
    /*background-color: rgb(201, 76, 76); */
    background: repeating-linear-gradient(90deg, #242424, #242424 1px);/*, #2e2e2e 0, #2e2e2e 1px);*/
    /*background-image: url("..\\images\\token_shop.png") */
}
.styled {
    /*background-color: #92a8d1;*/
    font-family: Arial;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

table td {
    border: inset 1px #fff;
}
table {
    
    margin-left: auto;
    margin-right: auto;
}
a {
    color: red;
}

.Idle {
    color: orange;
}

.Offline {
    color: grey;
}
.Online {
    color: green;
}

form {
    padding: 2rem;
    border-radius: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

h1 {
    text-align: center;
}